* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* common style  */
body {
    font-family: 'Ubuntu', sans-serif;
}

.container {
    width: 90%;
    margin: 1.25em auto;
}

h1{
    font-size: 3rem;
}


/* header styles */

header {
    height: 100%;
    color: white;
    padding: 0 1em;
    border-radius: 10px;
    display: flex;
    align-items: center;
    background-color: rgb(22, 22, 22);
}
.header-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    row-gap: 1em;   
}
.header-button a {
    display: inline-block;
    position: relative;
    padding: 10px 30px;
    margin: 10px 15px;
    color: rgba(247, 58, 24, 0.911);
    text-decoration: none;
    text-transform: uppercase;
    background-color: rgb(22, 22, 22);
    letter-spacing: 2px;
    overflow: hidden;
    transition: 0.5s;
}
.header-button > a:hover {
    background: rgba(247, 58, 24, 0.911);
    color: #111;
    box-shadow: 0 0 50px rgba(247, 58, 24, 0.911);
    transition-delay: 0.5s;
}
.header-button > a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    border-top: 2px solid rgba(247, 58, 24, 0.911);
    border-left: 2px solid rgba(247, 58, 24, 0.911);
    transition: 0.5s;
}
.header-button > a:hover::before{
    width: 100%;
    height: 100%;
    transition-delay: 0s;
}
.header-button > a::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid rgba(247, 58, 24, 0.911);
    border-right: 2px solid rgba(247, 58, 24, 0.911);
    transition: 0.5s;
}
.header-button > a:hover::after{
    width: 100%;
    height: 100%;
    transition-delay: 0.5s;
}
.header-img {
    width: 50%;
}
.header-img img {
    width: 100%;
    
}

/* main section  */

.full-content {
    display: flex;
    margin: 32px 0;
}

aside {
    width: 22%;
    height: 100%;
    padding: 1em;
    border-radius: 10px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    row-gap: 1em;
}
aside > .active-content{
    color: white;
    border: 1px solid gray;
    background-color: rgba(247, 58, 24, 0.911);
}
aside a {
    text-decoration: none;
    text-align: center;
    color: black;
    font-weight: 700;
    border: 1px solid grey;
    border-radius: 10px;
    background-color: white;
    padding: 1em 0;
}
aside a:hover {
    border: 2px solid goldenrod;  
}


.blogs {
    flex-grow: 1;
    margin-left: 1em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
}
.blog {
    padding: 0.5em;
    border: 1px solid grey;
    border-radius: 8px;
    box-shadow: 5px 5px 20px grey;
}
.blog-img img {
    width: 100%;
}
.blog-info {
    margin-top: 0.5em;
    display: flex;
    flex-direction: column;
    row-gap: 0.7em;
}
.blog-info > p > button {
    padding: 3px 8px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 7px;
}
.blog-info > p > span {
    margin-right: 0.8em;
}

.container > button {
    color: white;
    font-weight: 700;
    display: block;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    margin: 5px auto;
    background-color: tomato;
    visibility: hidden;
}

/* upcoming match start*/

.upcoming-match {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.blog-img-flag { 
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
.blog-img-flag img { 
    width: 40%;
}
.blog-match {
    text-align: center;
    margin-top: 15px;
}

/* upcoming match end */

/* footer style  */


footer {
    color: white;
    background-color: black;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 50px;
}
hr{
    border: 0;
    height: 1px;
    background: #333;
    margin: 25px 0;
}
.links {
    padding: 2em 0;
    display: flex;
    justify-content: space-evenly;
}
.link a {
    text-decoration: none;
    color: white;
}
.social-icons {
    display: flex;
    justify-content: center;
    column-gap: 1.5em;

}

/* media query  */

/* for Tablet version  */

@media only  screen and (min-width: 577px) and (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }
    .full-content {
        flex-direction: column;
        align-items: center;
    }
    aside {
        width: 100%;
        flex-direction: row;
        justify-content: space-evenly;
        background-color: white;
    }
    aside a {
        width: 30%;
        height: 50px;
    }
    .blogs {
        grid-template-columns: repeat(2, 1fr);
    }
    .container > button {
        visibility: visible;
    }
    .links {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 20px 45px;
    }
}

/* for mobile device */

@media only  screen and (max-width: 576px) {
    header {
        flex-direction: column;
    }
    .header-text {
        text-align: center;
        width: 100%;
        margin: 1em 2em;
    }
    .header-img {
        width: 70%;
    }
    .header-text > p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .header-text button {
        padding: 1em 3em;
    }

    .full-content {
        flex-direction: column;
        align-items: center;
    }

    aside {
        width: 70%;
        flex-direction: column;
        background-color: white;
    }
    .blogs {
        grid-template-columns: repeat(1, 1fr);
    }
    .links {
        flex-direction: column;
        row-gap: 15px;
    }
}